@{
    ViewBag.Title = "Chatty Chat Chat";
}

<script type="text/javascript">

    $(document).ready(function () {

        (function longPoll() {

            $.ajax({
                type: "POST",
                url: "chat/GetNextMessage",
                success: function (message) {
                    //when response is recieved, update list
                    $("<li>").text(message).appendTo("#messages");
                },
                error: function( jqXHR ,  textStatus,  errorThrown){
                    console.log("error: " + errorThrown);
                },
                complete: longPoll //call function again after either success or error.
            });

        })();

        $(".btn-send").click(function () {

            //send chat message to server
            $.ajax({
                type: "POST",
                url: "/chat/ChatMessage",
                data: {message: $("#txtMessage").val()}
            })

            //clear textbox and set focus
            $("#txtMessage").val("").focus();
            
        });

    });

</script>



<h2>Chat for Lonely People :(</h2>

<!--1. Message List-->
<div class="message-container">
    <ul id="messages"></ul>
</div>

<!--2. say something text box-->
<div class="input-holder">
    <input type="text" id="txtMessage" placeholder="say something" />
</div>

<!--3. send button-->
<div class="button-holder">
    <button class="btn-send btn btn-default btn-large">Send</button>
</div>




 


