@{
    ViewBag.Title = "Chatty Chat Chat";
}

<script type="text/javascript">

    $(document).ready(function () {

        $(".btn-submit").click(function () {
            $.ajax({
                type: "GET",
                url: "/chat/PostMessage",
                data: {message: $("#txtMessage").val()}
            })

            $("#txtMessage").val("");

         });

        function getNextMessage() {

            $.get("chat/getNextMessageLongPoll", function (message) {
                //when response is recieved, update list and call this function again
                $("<li>").text(message).appendTo("#messages");

                getNextMessage();
            });
        };

        getNextMessage();


        //load message history
       // $("#chatHistory").load("chat/GetChatHistory");

    });

</script>

<h2>Chatty Chat Chat</h2>


History:
<div id="chatHistory"></div>
<ul id="messages"></ul>

Say something: <input type="text" id="txtMessage" />
               <button class="btn-submit">Submit</button>

 


