@{
    ViewBag.Title = "Chatty Chat Chat";
}

<script type="text/javascript">

    $(document).ready(function () {

        $(".btn-submit").click(function () {
            $.ajax({
                type: "POST",
                url: "/chat/PostMessage",
                data: {message: $("#txtMessage").val()}
            })

            //reset textbox
            $("#txtMessage").val("");
            
         });

        (function getNextMessage() {

            $.ajax({
                type: "POST",
                url: "chat/getNextMessageLongPoll",
                success: function (message) {
                    //when response is recieved, update list and call this function again
                    $("<li>").text(message).appendTo("#messages");

                },
                timeout: 100000,
                error: function( jqXHR ,  textStatus,  errorThrown){
                    console.log("error: " + errorThrown);
                },
                complete: getNextMessage
            });

        })();

    });

</script>

<h2>Chatty Chat Chat</h2>

<ul id="messages"></ul>

Say something: <input type="text" id="txtMessage" />
               <button class="btn-submit">Submit</button>

 


